[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
plotly = "*"
fastf1 = "*"
requests = "*"
bs4 = "*"
scrapy = "*"
streamlit = "*"
unidecode = "*"
pandas = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
opencv-python = "*"
matplotlib = "*"
adjusttext = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
